---
import Layout from '@layouts/Root.astro';
import Contact from '../components/contact/Contact.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="presentation">
    <Contact />
  </div>
</Layout>
